@(title: String, message: String, messageForm: Form[Message])
@main("新規メッセージ作成画面") {
<h1>@Html(title)</h1>
  		<a class="btn btn-default" href="/" role="button">一覧に戻る</a>
  		<a class="btn btn-default" href="/add" role="button">新規</a>
		<a class="btn btn-default" href="/item" role="button">投稿編集</a>
		<a class="btn btn-default" href="/find" role="button">投稿者検索</a>
	<hr>
  <p>@Html(message)</p>
  @if(!messageForm.hasErrors()) {
  	@helper.form(action = routes.Application.doEdit()) {
    	<input type="hidden"  name="id" value="@messageForm.get().id">
  		@helper.inputText(messageForm("name"),'_label -> "name",'_msg -> "required")(inputTextAddMessageTemplate, implicitly[Lang])
  		@helper.inputText(messageForm("mail"),'_label -> "mail",'_msg -> "Email")(inputTextAddMessageTemplate, implicitly[Lang])
  		@helper.textarea(messageForm("message"), args = 'rows -> 3, 'cols -> 50, '_label -> "message")
  		<input type='submit' value='送信'>
  	}
  }
}