@(title: String, message: String, messages: List[Message], messageForm: Form[Message])
@main("Sample Page") {
<h1>@Html(title)</h1>
  		<a class="btn btn-default" href="/" role="button">一覧に戻る</a>
  		<a class="btn btn-default" href="/add" role="button">新規</a>
		<a class="btn btn-default" href="/item" role="button">投稿編集</a>
		<a class="btn btn-default" href="/delete" role="button">削除</a>
	<hr>
  <p>@Html(message)</p>
  @helper.form(action = routes.Application.find()) {
  	@helper.inputText(messageForm("name"),'_label -> "input")
  	<input type='submit' value='送信'>
  }
  @if(messages != null) {
  	<pre>@messages</pre>
  }
}